* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font: 1.6rem 'Lato', sans-serif;
  color: #222;
  background-color: rgb(241, 145, 123);
}

.nav {
  background-color: rgba(255, 255, 117);
  display: flex;
  justify-content: center;
}

.nav__logo-img {
  height: 11vh;
}

.main {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.quote {
  list-style: none;
  text-transform: capitalize;
  margin: 18rem 0;
  font-size: 8rem;
}

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  font-size: 7rem;
  gap: 3rem;
  text-transform: capitalize;
}

.form__label {
  text-align: left;
}

.form__input {
  padding: 3rem 0 3rem 2rem;
  font-size: 5rem;
}

.btn {
  margin-top: 5rem;
  text-transform: capitalize;
  font-size: 5rem;
  padding: 3rem;
  border: none;
  transition: 0.2s linear;
  text-decoration: none;
  color: #222;
}

.btn:hover {
  opacity: 0.7;
}

.btn-login {
  margin: 7rem 0 2rem;
  background-color: beige;
}

.btn-signup {
  display: block;
  width: 100%;
  margin: 0 auto;
  background-color: rgb(173, 222, 133);
}

.btn-next {
  background-color: rgb(173, 222, 133);
}

.profile {
  width: 80%;
  margin: 0 auto;
  background-color: aliceblue;
  text-transform: capitalize;
  font-size: 5rem;
}

.welcome-msg {
  font-size: 5rem;
}
